

.header{
   height: 100px;
   width:100%;
   background-color: #2C3E50;    
   border-radius:5px;
   margin:"0px"  ;
}


.container{
    border-radius:5px;
    background-color:#BABFC5; 
    width: 500px; 
    margin:0 auto;
    align-content: center;
    background: "https://www.privateaser.com/static/img/logo-privateaser.svgg";
}



 